.fab {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  padding: 14px;
  background: linear-gradient(180deg, #17E4B9 0%, #000 100%);
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 20%;
  top: 3%
}

.fab:hover {
  background: linear-gradient(180deg, #0de0b3 0%, #333333 100%);
}