::backdrop {
  background-color: #504D4D;
  opacity: 0.85;
}

.dialog {
  background-color: #1E1E1E;
  border: none;
  border-radius: 16px;
  padding: 16px;
}

.btn-close-wrapper {
  text-align: right;
}

.btn-close {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dialog .body {
  padding: 10px 0;

}