.navigation-menu-items {
  border: 1px solid #4A4949;
  background-color: aqua;
  padding: 5px;
  margin: 0;
  width: 190px;
  max-width: 90%;
  text-align: center;
}

.navigation-menu-items:hover {
  cursor: pointer;
  color: #FFF;
  background-color: aquamarine;
  transition-duration: 0.2s;
}