.banner {
  background: linear-gradient(180deg, #17E4B9 0%, #000 100%);
  display: flex;
  justify-content: center;
  padding: 0px;
  margin: 0px;
  border-radius: 10px;
}

.banner img {
  max-width: 90%;
}